@font-face{
  font-family: 'rick-morty';
  src: url('/static/rick-morty/rick-morty.woff2') format('woff2'),
  url('/static/rick-morty/rick-morty.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'calligraphr';
  src: url('/static/rick-morty/calligraphr.woff2')
  format('woff2'),
  url('/static/rick-morty/calligraphr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  padding: 0 calc(50% - 360px) 0;
  position: relative;
  margin: 0;
  @media screen and (max-width: 425px){
    padding: 1rem;
  }
}

h1,
h2 {
  font-family: 'rick-morty', Verdana, Geneva, Tahoma, sans-serif;
}

h1.header{
  font-size: 5rem;
  text-align: center;
  color: #00b0c7;
  text-shadow:
  -3px -3px 2px #83c789,
  3px -3px 2px #83c789,
  -3px 3px 2px #83c789,
  3px 3px 2px #83c789;
}

p {
  line-height: 1.2;
  font-size: 1.5rem;
  font-family: 'calligraphr', Arial, Helvetica, sans-serif;
}

button,
input{
  color: #00b0c7;
  font-size: 1rem;
  font-family: 'calligraphr';
  background-color: white;
  border: 1px solid #83c789; 
  border-radius: 5px;
  display: block;
  padding: 0.4rem 1rem;
  max-height: 3rem;
}

div > button {
  width: 100%;
}

button:not(:first-of-type){
  margin-left: 0rem !important;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 425px){
    flex-flow: column;
    width: 100%;
  }
}

section > div {
  display: flex;
  align-items: flex-bottom;
  flex-flow: column;
}

img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
